#**Exercício 01:**

In [ ]:
T = [-10, -8, 0, 1, 2, 5, -2, -4];
maiorTemperatura = 0;
menorTemperatura = 1;
x = 0;

while x<len(T):
  if(T[x]>=maiorTemperatura):
    maiorTemperatura = T[x];
  elif (T[x]<menorTemperatura):
    menorTemperatura = T[x];
  x+=1;

print(f"Menor número = {menorTemperatura}");
print(f"Maior número = {maiorTemperatura}");

**Exercício 02:** Vai percorrer toda a lista verificando os elementos desta lista, sabendo que não há números menores que o próximo, não teremos uma troca de posição. Nota-se que os elementos da lista estão ordenados na ordem crescente.


**Exercício 03:** O programa encerra e não ordena a lista, visto que, os elementos que são iguais não podem permitir o acesso aos outros elementos e, portanto, não consegue comparar se é maior ou menor que o número anterior por conta dessa igualdade.

**Exercício 04:**

#**Exercício 05:**

In [ ]:
A = [5, 99, 20, 36, 4569, 20];
menorNumero = 1;
x = 0;

while x<len(A):
  if (A[x]<menorNumero):
    menorNumero = A[x];
  x+=1;

print(f"Menor número = {menorNumero}");

#**Exercício 06:**

In [ ]:
valor1 = int(input("Digite um valor a ser pesquisado: "));
valor2 = int(input("Digite o segundo valor a ser pesquisado: "));
L = [4, 6, 2, 3, 9, 7, 10, 125, 36, 996, 85, 15, 325, 36];
x = 0;
y = 0;
while x<len(L):
  if(valor1==L[x]):
    print(f"\nValor {valor1} foi encontrado na posicao {x} da Lista");
    if(y==0):
      print(f"O {valor1} foi o primeiro a ser encontrado");
    elif(y!=0): 
      print(f"O {valor1} foi o segundo a ser encontrado");
    y+=1;
  elif(valor2==L[x]):
    print(f"\nValor {valor2} foi encontrado na posicao {x} da Lista");
    if(y==0):
      print(f"O {valor2} foi o primeiro a ser encontrado");
    elif(y!=0): 
      print(f"O {valor2} foi o segundo a ser encontrado");
    y+=1;
  x+=1;

Digite um valor a ser pesquisado: 5
Digite o segundo valor a ser pesquisado: 3

Valor 3 foi encontrado na posicao 3 da Lista
O 3 foi o primeiro a ser encontrado

#**Exercício 07:**

[1, 2, 3, 4, 5]