In [ ]:
w = int(input("Informe o primeiro número: "))
y = int(input("Informe o segundo número: "))
print("O primeiro número é %d e o segundo número é %d" %(w, y))

Informe o primeiro número: 6
Informe o segundo número: 8
O primeiro número é 6 e o segundo número é 8

**Exercício 2**

In [ ]:
"Converter metros em milímetros"
metro = float(input("Informe o valor em metros: "))
Converter = metro*(1/1000)

print(f"Valor em milímetros {Converter:.4f} mm")

Informe o valor em metros: 4569
Valor em milímetros 4.5690 mm

**Exercício 3**

In [ ]:
nome = input("Informe o seu nome: ")
idade = int(input("Informe a sua idade: "))
diasAno = 365
horasAno = 8760
minutosAno = horasAno*60
segundosAno = minutosAno*60

print(f"O {nome} possui {idade} anos, {horasAno*idade} horas, {minutosAno*idade} minutos e {segundosAno*idade} segundos!")

Informe o seu nome: 4
Informe a sua idade: 5
INFORME UM NUMERO: 6
O 4 possui 5 anos, 43800 horas, 2628000 minutos e 157680000 segundos!

**Exercício 4**

In [ ]:
salario = float(input("Informe o seu salário: "))
percentualAumento = float(input("Informe o percentual de aumento salarial: "))
acrescimoSalario = salario*(percentualAumento/100)
novoSalario =  salario+acrescimoSalario
print(f"Valor de aumento do salário = {acrescimoSalario:.2f}")
print(f"Novo salário = {novoSalario}")

Informe o seu salário: 200
Informe o percentual de aumento salarial: 3
Valor de aumento do salário = 6.00
Novo salário = 206.0

**Exercício 5**

In [ ]:
Arroz = float(input("Informe o valor do arroz: "))
Desconto = float(input("Informe o percentual de desconto: "))
print(f"O valor de desconto do arroz = {Arroz*(Desconto/100):.3f}, o total a ser pago pelo arroz = {Arroz-(Arroz*(Desconto/100))}")

Informe o valor do arroz: 30
Informe o percentual de desconto: 6
O valor de desconto do arroz = 1.800, o total a ser pago pelo arroz = 28.2

**Exercício 6**

In [ ]:
velocidade = float(input("Informe a velocidade média durante o trajeto em (metros/segundo): "))
distancia = float(input("Informe a distância a ser percorrida em (metros): "))

tempo = distancia/velocidade 
print("O tempo de viagem = %5.4f" %tempo)

Informe a velocidade média durante o trajeto em (metros/segundo): 50000
Informe a distância a ser percorrida em (metros): 3
O tempo de viagem = 0.0001

**Exercício 7**

In [13]:
TemperaturaCelsius = int(input("Informe a temperatura em Celsius: "))
Fahrenheit = ((TemperaturaCelsius*9)/5)+32

print(f"A temperatura em Fahrenheit é {Fahrenheit}")

Informe a temperatura em Celsius: 50
A temperatura em Fahrenheit é 122.0

**Exercício 8**

In [ ]:
KmPercorridos = float(input("Informe a quantidade de KM percorridos pelo carro: "))
DiasAlugado = int(input("Informe a sua quantidade de dias em que o carro foi alugado: "))
valorAPagar = DiasAlugado*60+0.15*KmPercorridos
print(f"Valor a ser pago pelo aluguel e pela distância percorrida = {valorAPagar}")

Informe a quantidade de KM percorridos pelo carro: 1
Informe a sua quantidade de dias em que o carro foi alugado: 2
Valor a ser pago pelo aluguel e pela distância percorrida = 120.15

**Exercício 9**

In [12]:
CigarrosFumados = int(input("Informe a quantidade de cigarros fumados: "))
AnosDeFumante = int(input ("Informe por quantos anos você já fumou: "))
VidaPorMinuto = 10*CigarrosFumados

horasx = 10/60
Diasy = horasx/24

TempoDeVidaPerdido = Diasy*CigarrosFumados
print(f"Tempo de vida perdido = {TempoDeVidaPerdido:5.2} dias ")

Informe a quantidade de cigarros fumados: 5
Informe por quantos anos você já fumou: 30
Tempo de vida perdido = 0.035 dias