Elif

Uma estrutura usada para aninhamento de ifs.

In [ ]:
categoria = int(input("Insira a categoria do produto:"))
if categoria == 1:
  preco =10
elif categoria == 2:
  preco = 20
elif categoria == 3:
  preco = 30
else:
  print("Categoria inválida")
  preco = 0
print(preco)

Insira a categoria do produto:4
Categoria inválida
0

## Estruturas de repetição

while -> realiza a repetiçã enquanto uma condição for verdadeira.

---
Formato do while em Python

$while <condição>:$

$bloco$

In [ ]:
x=1
while x<=3:
  print(x)
  x=x+1

1
2
3

In [ ]:
fim = int(input("Informe qual o ultimo valor para imprimir:"))
x=1
while x<fim:
  print(x)
  x=x+1

Informe qual o ultimo valor para imprimir:10
1
2
3
4
5
6
7
8
9

Imprimindo valores multiplos de 2

In [ ]:
fim = int(input("Informe qual o ultimo valor para imprimir:"))
x=1
while x<=fim:
  if x%2==0:
    print(x)
  x=x+1

Informe qual o ultimo valor para imprimir:10
2
4
6
8
10

In [ ]:
fim = int(input("Informe qual o ultimo valor para imprimir:"))
x=0
while x<=fim:
  print(x)
  x=x+2

Informe qual o ultimo valor para imprimir:10
0
2
4
6
8
10

In [ ]:
fim = int(input("Informe qual o ultimo valor para imprimir:"))
x=1
while x<=fim:
  if x%2==1:
    print(x)
  x=x+1

Informe qual o ultimo valor para imprimir:10
1
3
5
7
9

In [ ]:
n = int(input("Informe o valor da tabuada:"))
x=0
while x<=10:
  print(n*x)
  x+=1

Informe o valor da tabuada:3
0
3
6
9
12
15
18
21
24
27
30

## Acumuladores

contadores tem valores adicionados são constantes, já nos acumuladores o valor não é constante.

In [ ]:
n=1
soma=0
while n <= 4:
  x = int(input(f"Digite o {n} número:"))
  soma = soma + x
  n = n + 1
print(f"Média: {soma/4}")

Digite o 1 número:3
Digite o 2 número:3
Digite o 3 número:3
Digite o 4 número:3
Média: 3.0

## Operadores de atribuição especial

$+= x+=1 x=x+1$

$-= x-=1 x=x-1$

$*= m*=2 m=m*2$

$/= d/=2 d=d/2$

$**=$   $e**=2$  $e=e**2$

$//= f//=4 f=f//4$

## Interrupção de repetição

Para executar uma interupção é precisa inserir um break no programa.

In [ ]:
soma=0
while True:
  x = int(input(f"Digite um número ou 0 para sair:"))
  if x ==0:
    break
  soma += x
print(soma)

Digite um número ou 0 para sair:10
Digite um número ou 0 para sair:10
Digite um número ou 0 para sair:10
Digite um número ou 0 para sair:0
30

## Repetição Aninhada

Repetições que permintem o incrimentos dos diversas variáveis

In [ ]:
tabuada =1
while tabuada <=10:
  numero = 1
  while numero <=10:
    print(f"{tabuada} x {numero} = {tabuada*numero}")
    numero +=1
  tabuada +=1

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

$ if <condição>:$

$programa$

if True:
x+=1 <- executada

$ se <condição>:$

$programa_A$

$senão:$

$programa_B$


if True <- $programa_A$

if False <- $programa_B$

$while <condição>$

$programa$

enquanto True

programa